<%= form_for(@clock) do |f| %>
  <% if @clock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clock.errors.count, "error") %> prohibited this time from being submitted:</h2>

      <ul>
      <% @clock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>

  <div class="form-group">
    <%= f.label :time_start %><br>
    <%= f.time_select :time_start, {ampm: true} %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :time_end, :value => Time.zone.now %> 
  </div>
  <div class="form-group">
    <%= f.label :notes %><br> 
    <%= f.text_field :notes %> 
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
