<div class="jumbotron center"> 
<h1>Clock Out</h1>

<p>
  <strong>Day:</strong>
  <%= @clock.day.strftime('%a %b %d') %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @clock.time_start.strftime("%I:%M:%S %p") %>
</p>

<%= form_for(@clock) do |f| %>
  <% if @clock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clock.errors.count, "error") %> prohibited this time from being submitted:</h2>

      <ul>
      <% @clock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :time_end, class: "h3" %><br>
    <%= f.time_select :time_end, {ampm: true} %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', clocks_path %>
