 <% if user_signed_in? %>

<h1>Programming Hours</h1>
<br>

<div class= "col-md-6">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Day</th>
      <th>Total Time </th>
      <th>Actions</th>
    </tr>
  </thead>

<tbody>
<% current_user.clocks.reverse.each do |clock| %> 
<% total_time = (clock.time_end - clock.time_start) %> 
  <tr>
    <td><%= clock.day.strftime('%a %b %d') %></td>
    <td><% if (total_time) < 60 %> 
          <%= (total_time).round(2) %>
            <% if  clock.present? %>
              <%= "Seconds" %>
            <% end %> 
       <% elsif ((total_time) / 60) > 60 %>  
          <%= ((total_time) / 3600).round(2) %>
            <% if  clock.present? %>
              <%= "Hours" %>
            <% end %> 
      <% else %>
          <%= ((total_time) / 60).round(2) %>  
            <% if  clock.present? %>
              <%= "Minutes" %>
            <% end %> 
      <% end %></td>
      <td>
      <%= link_to 'ClockOut', edit_clock_path(clock) %></td>
      <td><%= link_to 'Delete', clock, :method => :delete, :data => { :confirm => "Are you sure?" } %> 
      <% end %></td>
    </tr>
</tbody>
</table>
</div>

<div class= "col-md-6">
<div class= "hero"> 
<p><h1>Total Time Spent Learning</h1><p>
<p><h1><%= current_user.clocks.total_time %> Hours</h1></p>
<p><h1><%= link_to 'Clock In', new_clock_path %></h1></p>
</div> 
</div>

<% else %>

 <%= render 'pages/home' %>
 <% end %> 



