<div class="jumbotron center" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @clock.day.strftime('%a %b %d') %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @clock.time_start.strftime("%I:%M:%S %p")  %>
</p>

<%= link_to 'Edit', edit_clock_path(@clock) %> |
<%= link_to 'Back', clocks_path %>
</div>
